@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fc-border-color: hsl(var(--b1));
  --fc-today-bg-color: hsl(var(--s));
  /* --fc-highlight-color: hsl(var(--s)); */
  /* --fc-highlight-color: hsl(var(--p)); */
  /* --fc-highlight-color: hsl(var(--a)); */
}

table[role="grid"].fc-scrollgrid {
}

th[role="columnheader"].fc-col-header-cell.fc-day {
  @apply py-2 uppercase text-xs font-normal text-center;
}

td[role="gridcell"].fc-daygrid-day {
  @apply uppercase text-sm text-center;
}

td[role="gridcell"].fc-daygrid-day.fc-day-today {
  @apply rounded-xl;
  background: none;
}
td[role="gridcell"].fc-daygrid-day.fc-day-today {
  @apply rounded-xl;
  background: none;
}
td[role="gridcell"].fc-daygrid-day.fc-day-today
  .fc-daygrid-day-frame
  .fc-daygrid-day-top
  a {
  @apply w-[28px] bg-[var(--fc-today-bg-color)] text-secondary-content shadow-md shadow-[var(--fc-today-bg-color)] rounded-full;
}

td[role="gridcell"] .fc-daygrid-day-frame {
}
td[role="gridcell"] .fc-daygrid-day-frame .fc-daygrid-day-top {
  @apply flex justify-center;
}
td[role="gridcell"] .fc-daygrid-day-frame .fc-daygrid-day-bg .fc-highlight {
  @apply flex justify-center rounded-xl;
  /* background: color-mix(in srgb, var(--fc-highlight-color) 25%, white); */
}
